@page
@model ProjCRS.Pages.CriminalActivities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Crimes List</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CriminalActivity[0].TimeOfOccurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriminalActivity[0].Criminal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriminalActivity[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriminalActivity[0].CriminalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriminalActivity[0].CaseStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CriminalActivity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfOccurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Criminal.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriminalCode.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseStatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
